.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#preview {
  height: 40vh;
  width: 50vw;
}

#editor {
  width: 50vw;
}

#editorW {
  height: 40vh;
}
